$yellow : #FDB940;
$black : #000000;
$light_gray: #dfdfdf;
$dark_gray: #cfcfcf;

/* Base styles */
body{
    font-family: "Open Sans", sans-serif;
}

/* Typography */
h1,h2,h3,h4,h5,h6{
    font-family: "Overpass", sans-serif;
    font-weight: 100;
}

h1,h2,h3,h4{
    font-weight: 100;
}

/* Links */
a{
    color: #333333;
    &:hover{
        color: #333333;
        text-decoration: none;
    }
}

/* Navigation */
.navbar_main{
    background: $black;
    height: 55px;
    .logo{
        img{
            height: 45px;
        }
    }
    #menu_icon{
        display: flex;
        color: #ffffff;
        flex-direction: column;
        justify-content: center;
    }
}
.nav-push{
    margin-bottom: 55px;
}
nav{
    ul{
        font-family: "Overpass", sans-serif;
        list-style-type: none;
        li{
            font-size: 2.0rem;
            font-weight: 100;
            margin: 20px 0;
        }
    }
}

/* Layout */
#content{
    display: flex;
}

/* sections */
.home-panel-1{/*
    overflow: paged-x;
    overflow: -webkit-paged-x;*/
    background: url("../../../resources/images/home-back-map.jpg");
    background-size: cover;
    h2.app-download-header{
        font-size: 3rem;
    }
    #home-banner-download-links{
        margin: 45px auto;
    }
    #home-banner-text{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

section.banner{
    //height: 150px;
    //padding: 45px auto;
    h1{
        //font-size: 54px;
        padding: 95px;
        text-transform: uppercase;
    }
    &#about-banner {
        display: block;
        position: relative;

        &::after {
            content: "";
            background-size: cover;
            background: url('../../../resources/images/about-banner.jpg');
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
    &#services-banner {
        display: block;
        position: relative;

        &::after {
            content: "";
            background-size: cover;
            background: url('../../../resources/images/services.jpg');
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
    &#contact-banner {
        display: block;
        position: relative;

        &::after {
            content: "";
            background-size: cover;
            background: url('../../../resources/images/contact-us-banner.jpg');
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
    &#airport-banner {
        display: block;
        position: relative;

        &::after {
            content: "";
            background-size: cover;
            background: url('../../../resources/images/airport-transfer.jpg');
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
}
section.inner-page{
    padding: 45px 0 45px;
    p{
        padding: 25px 0;
    }
    &#about-vision-mission{
        background: #dfdfdf;
    }
    &#about-text{
        padding: 45px;
    }
    #about-people-text{
        padding: 45px 35px;
        background:#dfdfdf;
    }
    &#about-address, &#contact-form-details{
        p{
            padding: 0;
            margin: 0;
        }
        h3,h4,h5{
            margin-top: 20px;
        }
    }
    &#services{
        h2{
            margin: 30px 0 0;
        }
        img{
            width: 50%;
        }
    }
    &#services-fleet{
        img.fleet-icons{
            height: 24px;
            vertical-align: bottom;
        }
        h3#fleet-type-title{
            margin: 35px 0 0;
        }
    }
    &#contact-text{
        background: #efefef;
    }
    &#airport-form{
        #roo-inner-ap-form {
            border-radius: 5px;
           // box-shadow: 0 0 10px $light_gray;
        }
    }
}
#phone-app-img{
    background: url("../../../resources/images/phone_app.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 85% auto;
    height: 550px;
}

/* Forms */
.roo-form-container{
    //min-height: 85vh;
    #roo-home-ap-form{
        padding: 25px;
        box-shadow: 0 0 10px #888;
        border-radius: 5px;
        background: rgba(255,255,255,0.8);
    }
}
.roo-form{
    label{
        font-size: 0.9rem;
        display: block;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
    input,textarea,select{
        font-size: 0.8rem;
        width:100%;
        border: 1px solid $light_gray;
        padding: 5px 8px;
        &:hover{
            border: 1px solid $dark_gray;
        }
        &:active, &:focus{
            border: 1px solid $dark_gray;
            outline: none;
        }
        &[type="submit"]{
            width: auto;
            background: $yellow;
            padding: 10px 20px;
            margin-top: 5px;
            border: 0;
        }
        &[type="radio"], &[type="checkbox"]{
            width: auto;
        }
    }
    .intl-tel-input{
        width: 100%;
    }
    textarea{
        min-height: 100px;
    }

    .check-group{
        $fg: #ffdd00;
        $borderWidth: 3px;
        margin-top: 10px;
        input[type=checkbox] + label {
            cursor: pointer;
            display: inline-block;
        }

        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox] + label:before {
            font-family: "Open Sans", sans-serif;
            content: "\2714";
            border: 0.1em solid $light_gray;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 3px;
            margin-right: 0.2em;
            vertical-align: center;
            text-align: center;
            color: transparent;
            transition: .2s;
            &:hover{
                border-color: $dark_gray;
            }
        }

        input[type=checkbox] + label:active:before {
           // transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: $yellow;
            border-color: $yellow;
            color: $black;
        }

        input[type=checkbox]:disabled + label:before {
            transform: scale(1);
            border-color: #aaa;
        }

        input[type=checkbox]:checked:disabled + label:before {
            transform: scale(1);
            background-color: #bfb;
            border-color: #bfb;
        }
    }
}

/* Tables */

/* footer */
.footer{
    background: $black;
    color: #ffffff;
    padding: 8px;
    font-size: 0.8rem;

    a{
        color: #ffffff;
    }

    .footer-icon{
        font-size: 0.9rem;
        border-radius: 50%;
        background: $dark_gray;
        padding: 8px;
        width: 30px;
        height: 30px;
        text-align: center;
        &.fa-facebook-f{
            background: #3B569D;
        }
        &.fa-twitter{
            background: #5DA9DD;
        }
        &.fa-linkedin-in{
            background: #006394;
        }
        &.fa-instagram{
            background: #D42D83;
        }
    }
}

/* Utilities */
.datetimepicker{
    &.dropdown-menu{
        font-size: 0.8rem;
        font-weight: 100;
    }
}