/* Base styles */
body {
  font-family: "Open Sans", sans-serif; }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Overpass", sans-serif;
  font-weight: 100; }

h1, h2, h3, h4 {
  font-weight: 100; }

/* Links */
a {
  color: #333333; }
  a:hover {
    color: #333333;
    text-decoration: none; }

/* Navigation */
.navbar_main {
  background: #000000;
  height: 55px; }
  .navbar_main .logo img {
    height: 45px; }
  .navbar_main #menu_icon {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: center; }

.nav-push {
  margin-bottom: 55px; }

nav ul {
  font-family: "Overpass", sans-serif;
  list-style-type: none; }
  nav ul li {
    font-size: 2.0rem;
    font-weight: 100;
    margin: 20px 0; }

/* Layout */
/* sections */
.home-panel-1 {
          /*
overflow: paged-x;
overflow: -webkit-paged-x;*/
  background: url("../../../resources/images/home-back-map.jpg");
  background-size: cover; }
  .home-panel-1 h2.app-download-header {
    font-size: 3rem; }
  .home-panel-1 #home-banner-download-links {
    margin: 45px auto; }
  .home-panel-1 #home-banner-text {
    padding-top: 35px;
    padding-bottom: 35px; }

section.banner h1 {
  padding: 95px;
  text-transform: uppercase; }
section.banner#about-banner {
  display: block;
  position: relative; }
  section.banner#about-banner::after {
    content: "";
    background-size: cover;
    background: url("../../../resources/images/about-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
section.banner#services-banner {
  display: block;
  position: relative; }
  section.banner#services-banner::after {
    content: "";
    background-size: cover;
    background: url("../../../resources/images/services.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
section.banner#contact-banner {
  display: block;
  position: relative; }
  section.banner#contact-banner::after {
    content: "";
    background-size: cover;
    background: url("../../../resources/images/contact-us-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
section.banner#airport-banner {
  display: block;
  position: relative; }
  section.banner#airport-banner::after {
    content: "";
    background-size: cover;
    background: url("../../../resources/images/airport-transfer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

section.inner-page {
  padding: 45px 0 45px; }
  section.inner-page p {
    padding: 25px 0; }
  section.inner-page#about-vision-mission {
    background: #dfdfdf; }
  section.inner-page#about-text {
    padding: 45px; }
  section.inner-page #about-people-text {
    padding: 45px 35px;
    background: #dfdfdf; }
  section.inner-page#about-address p, section.inner-page#contact-form-details p {
    padding: 0;
    margin: 0; }
  section.inner-page#about-address h3, section.inner-page#about-address h4, section.inner-page#about-address h5, section.inner-page#contact-form-details h3, section.inner-page#contact-form-details h4, section.inner-page#contact-form-details h5 {
    margin-top: 20px; }
  section.inner-page#services h2 {
    margin: 30px 0 0; }
  section.inner-page#services img {
    width: 50%; }
  section.inner-page#services-fleet img.fleet-icons {
    height: 24px;
    vertical-align: bottom; }
  section.inner-page#services-fleet h3#fleet-type-title {
    margin: 35px 0 0; }
  section.inner-page#contact-text {
    background: #efefef; }
  section.inner-page#airport-form #roo-inner-ap-form {
    border-radius: 5px; }

#phone-app-img {
  background: url("../../../resources/images/phone_app.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 85% auto;
  height: 550px; }

/* Forms */
.roo-form-container #roo-home-ap-form {
  padding: 25px;
  box-shadow: 0 0 10px #888;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8); }

.roo-form label {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0;
  margin-top: 0.5rem; }
.roo-form input, .roo-form textarea, .roo-form select {
  font-size: 0.8rem;
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 5px 8px; }
  .roo-form input:hover, .roo-form textarea:hover, .roo-form select:hover {
    border: 1px solid #cfcfcf; }
  .roo-form input:active, .roo-form input:focus, .roo-form textarea:active, .roo-form textarea:focus, .roo-form select:active, .roo-form select:focus {
    border: 1px solid #cfcfcf;
    outline: none; }
  .roo-form input[type="submit"], .roo-form textarea[type="submit"], .roo-form select[type="submit"] {
    width: auto;
    background: #FDB940;
    padding: 10px 20px;
    margin-top: 5px;
    border: 0; }
  .roo-form input[type="radio"], .roo-form input[type="checkbox"], .roo-form textarea[type="radio"], .roo-form textarea[type="checkbox"], .roo-form select[type="radio"], .roo-form select[type="checkbox"] {
    width: auto; }
.roo-form .intl-tel-input {
  width: 100%; }
.roo-form textarea {
  min-height: 100px; }
.roo-form .check-group {
  margin-top: 10px; }
  .roo-form .check-group input[type=checkbox] + label {
    cursor: pointer;
    display: inline-block; }
  .roo-form .check-group input[type=checkbox] {
    display: none; }
  .roo-form .check-group input[type=checkbox] + label:before {
    font-family: "Open Sans", sans-serif;
    content: "\2714";
    border: 0.1em solid #dfdfdf;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-right: 0.2em;
    vertical-align: center;
    text-align: center;
    color: transparent;
    transition: .2s; }
    .roo-form .check-group input[type=checkbox] + label:before:hover {
      border-color: #cfcfcf; }
  .roo-form .check-group input[type=checkbox]:checked + label:before {
    background-color: #FDB940;
    border-color: #FDB940;
    color: #000000; }
  .roo-form .check-group input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa; }
  .roo-form .check-group input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb; }

/* Tables */
/* footer */
.footer {
  background: #000000;
  color: #ffffff;
  padding: 8px;
  font-size: 0.8rem; }

.footer-icon {
  font-size: 0.9rem;
  border-radius: 50%;
  background: #cfcfcf;
  padding: 8px;
  width: 30px;
  height: 30px;
  text-align: center; }
  .footer-icon.fa-facebook-f {
    background: #3B569D; }
  .footer-icon.fa-twitter {
    background: #5DA9DD; }
  .footer-icon.fa-linkedin-in {
    background: #006394; }
  .footer-icon.fa-instagram {
    background: #D42D83; }

/* Utilities */
.datetimepicker.dropdown-menu {
  font-size: 0.8rem;
  font-weight: 100; }

/*# sourceMappingURL=styles.css.map */
